<div class="search-prompt">Search for a word:</div>
<div class="search-form">
  <%= form_tag('/search?word=', method: :get) do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Submit' %>
  <% end %>
</div>


<% if @definitions %>
  <h1><%= @word %> exists!</h1>

  <h3>Definitions: </h3>
  <ol>
    <% @definitions.each do |definition| %>
      <li><%= definition %></li>
    <% end %>
  </ol>
<% else %>
  <h1><%= @word %> does not exist.</h1>
<% end %>
