<!DOCTYPE html>
<html>
  <head>
    <title>ScrabbleChecker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      Search for a word: 
      <%= form_tag('/search?word=', method: :get) do %>
        <%= text_field_tag :search %>
        <%= submit_tag 'Submit' %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
